<a href="https://colab.research.google.com/github/borayd3/ds1002-ngx3fy/blob/main/homework/week-6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 6

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for review.

# Pandas

## 1. Fetch and Load Data
In class we created a DataFrame using the `read_csv` method. Go to https://catalog.data.gov/dataset/electric-vehicle-population-data and download the CSV format of the "Electric Vehicle Population Data" dataset. Then upload it to Google Colab.

Load that data into a Pandas DataFrame and display the first 20 rows. Show your work.

In [12]:
# Set up pandas and populate the dataframe above using the raw data. Then continue to work with the dataframe in the questions below.
import numpy as np
import pandas as pd

EVP_data = pd.read_csv('Electric_Vehicle_Population_Data.csv')

In [16]:
# Format a command that how many rows and columns are in this dataset.
EVP_data.shape

(150482, 17)

In [31]:
# Format a command that displays every other row of records 1000 through 1999, and the columns "City", "State", "Model Year", and "Make".
EVP_data.loc[1000:1999:2, ["City","State","Model Year", "Make"] ]

             City State  Model Year      Make
1000  Federal Way    WA        2022       KIA
1002    Arlington    WA        2021      JEEP
1004       Burien    WA        2018      AUDI
1006         Kent    WA        2018     TESLA
1008    Newcastle    WA        2022     TESLA
...           ...   ...         ...       ...
1990      Bothell    WA        2023       KIA
1992      Poulsbo    WA        2015     TESLA
1994     Kirkland    WA        2018  CHRYSLER
1996     Bellevue    WA        2014     TESLA
1998         Kent    WA        2023   HYUNDAI

[500 rows x 4 columns]

# 2. Cleaning/Imputing Data

In class we reviewed methods for removing duplicate rows and handling empty cell values. Download [this data set](https://github.com/nmagee/ds1002/blob/main/data/very-messy-data.csv) and upload into Google Colab.

Create another Pandas DataFrame from that data and perform the following steps.

In [32]:
# Set up pandas and populate the dataframe above using the raw data. Then continue to work with the dataframe in the questions below.
import numpy as np
import pandas as pd

VMD = pd.read_csv('very-messy-data.csv')

In [34]:
# Write a snippet of code that will display the number of duplicate rows exist in the DF.
VMD.duplicated()
print(VMD.duplicated().sum())

316

In [48]:
# Next, remove all duplicate rows using Python.
VMD = VMD.drop_duplicates()

In [61]:
# For the FOUR columns involving sepal and petal length and width, update all NaN
# values with the column mean such that NO empty cells remain. This method
# is called "imputation" because it fills in cells in a statistically less-impactful
# way than if they were blank.

# Show how you would update those four columns in code
VMD.head()
VMD_filled = VMD.fillna(VMD.mean())
print(VMD_filled.head(20))

    id  sepal_length  sepal_width  petal_length  petal_width    species
0    1         3.500     2.900000           1.4     0.500000  virginica
1    2         3.600     3.200000           3.0     0.500000     setosa
2    3         3.800     2.987694           2.2     1.500000     setosa
3    4         5.800     2.700000           2.6     1.200000  virginica
4    5         4.900     3.600000           3.0     1.200000  virginica
5    6         5.000     2.700000           1.4     2.300000     setosa
6    7         4.800     3.000000           2.6     1.400000     setosa
7    8         5.500     2.200000           2.1     2.100000  virginica
8    9         5.500     2.900000           1.1     3.000000     setosa
9   10         4.525     3.400000           2.6     1.900000  virginica
10  11         3.700     2.100000           1.4     1.300000     setosa
11  12         4.525     3.500000           1.6     2.900000     setosa
12  13         4.700     2.000000           1.2     1.900000  virginica
13  14         6.000     2.987694           1.1     2.600000  virginica
14  15         3.300     2.700000           2.9     0.400000     setosa
15  16         4.100     3.500000           1.9     0.700000  virginica
16  17         4.600     2.900000           2.1     2.600000  virginica
17  18         3.700     2.600000           1.3     0.900000     setosa
18  19         5.500     2.500000           1.8     1.800000  virginica
19  20         3.700     2.400000           1.2     1.561863     setosa

<ipython-input-61-a3fb24452bc2>:8: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  VMD_filled = VMD.fillna(VMD.mean())

# 3. Save to a New CSV

Preserve your updated DF to a CSV file by using the method built into Pandas.
Name the output file `very-clean-data.csv` and save it to GitHub in the same directory where you will save this homework. We will review both your Colab notebook and the cleaned data file.

In [63]:
VMD_filled.to_csv('./very-clean-data.csv')