<a href="https://colab.research.google.com/github/borayd3/ds1002-ngx3fy/blob/main/homework/week-8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## While-Loops

Perform the following steps in code:
1. Define a variable and populate it with `0`.
2. Create a while statement that evaluates whether that variable is less than or equal to `20`.
3. Within the while loop evaluate if the variable value is even or odd.
4. Within the while loop, if the variable value is even, print it. If not, do not print it.
5. Within the while loop, finally add `1` to the variable before it repeats.

In [103]:
w = 0

while w <= 20:
  w % 2 != 0
  if w % 2 == 0:
    print(w)
  w += 1

0
2
4
6
8
10
12
14
16
18
20

## For-Loops with Lists

In [105]:
# Use this list in the exercises below

mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]

In [104]:
# Write a command to print out all the values of this list
# EXCEPT for any negative values. Omit them from the printing.
for number in mylist:
  if number < 0 :
    continue
  print(number)

9
15
23
4
92
47
33
17
18
38

In [106]:
# Repeat the command from above, but this time get
# the absolute value of any negative values in the list
# and print those with the other items.
for number in mylist:
  if number < 0:
    print(abs(number))
  else:
    print(number)

9
15
23
4
92
47
33
17
4
18
38
242

In [107]:
# Similar to above, write a command to print out items in
# the list but omit any values greater than 20 and less than 40.
for number in mylist:
  if number >20 and number < 40:
    continue
  print(number)

9
15
4
92
47
17
-4
18
-242

## For-Loops with Dictionaries

In [108]:
capitals = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}

In [109]:
# Write a command to print out all the keys of this dict
capitals.keys()

dict_keys(['United States', 'Italy', 'England', 'Thailand', 'Brazil'])

In [27]:
# Write a command to print out all the values of this dict
capitals.values()

dict_values(['Washington DC', 'Rome', 'London', 'Bangkok', 'Brasilia'])

In [34]:
# Write a command to print all the keys and values for this dict
for key, value in capitals.items():
  print(key, value)

United States Washington DC
Italy Rome
England London
Thailand Bangkok
Brazil Brasilia

In [76]:
# Write a command to print only the first three values and NOTHING more.
for value in capitals:
  if (capitals[value]) == 'Bangkok':
    break
  print(capitals[value])

Washington DC
Rome
London